#!/usr/bin/make -f
# -*- makefile -*-

CXX		= g++
PACKAGE		= zpaq-upstream
LIBS		= -pthread
CXXFLAGS	= -s -O3 -Dunix -DNDEBUG
SOURCES		= src/zpaq.cpp src/libzpaq.cpp

override_dh_auto_clean:
	dh_clean
	rm -f $(PACKAGE)

override_dh_auto_build:
	$(CXX) $(CXXFLAGS) $(SOURCES) $(LIBS) -o $(PACKAGE)
	/usr/bin/pod2man src/zpaq.pod > zpaq.1

%:
	dh $@
